<h1>Edit Step for <%= @project_step.project.title %></h1>

<% form_tag :action => 'update', :id => @project_step do %>

<%= render(:partial => "form", :object => @project_step) %>

<%= submit_tag "Save" %>

<% end %>

<%= link_to 'Back', {:controller => 'project', :action => 'show', :id => @project_step.project.id} %>
