<h1>New Step for <%= @project.title %></h1>

<% form_tag :action => 'create' do %>

<%= render(:partial => "form", :object => @project_step) %>

<%= submit_tag "Create" %>

<% end %>

<%= link_to 'Back', {:controller => 'project', :action => 'show', :id => @project.id} %>
