<p><label for="trucks">My Trucks</label><br />
<%= collection_select("service_log", "vehicle_id" , @my_trucks, "id", "title") %>
<p><label for="type">Type</label><br />
<%= collection_select("service_log", "service_log_type_id" , ServiceLogType.find(:all), "id", "name") %>
<p><label for="mileage">Mileage</label><br />
<%= text_field 'service_log', 'mileage' %></p>
<p><label for="comments">Comments</label><br />
<%= text_area 'service_log', 'comments' %></p>