<h1>Service Log</h1>
<% form_for :service_log, :url => { :action => 'update', :id => @service_log } do |f| -%>
  <%= render(:partial => "form", :object => @service_log) %>
  <p><%= submit_tag :Save %></p>
<% end -%>