<label for="title">Title</label>
<%= text_field 'news_item', 'title' %>

<label for="summary">Summary</label>
<%= text_field 'news_item', 'summary' %>

<label for="article">Article</label>
<%= text_area 'news_item', 'article' %>

<label for="active">Active</label>
<%= check_box 'news_item', 'active' %>

<br /><br />