<h1>Editing News: <%= @news_item.title %></h1>

<% form_tag :action => 'update', :id => @news_item do %>

<%= render(:partial => "form", :object => @news_item) %>
    
<%= submit_tag "Save Changes" %>

<% end %>

<br/>

<br/>
<%= link_to 'Back to News', {:action => 'list'} %>