<h1>News</h1>
<% if @news_items.blank? %>
    <p>nothing to report</p>
<% else %>
    <ul>
        <% @news_items.each do |n| %>
            <li>
                <%= link_to n.title, {:action => "show", :id => n.id} %><br />
                <%= n.summary %><br />
                <%= link_to 'edit', {:action => "edit", :id => n.id} %>
            </li>
        <% end %>
    </ul>
<% end %>

<br />
<%= link_to 'Add News Item', {:controller => "news_item", :action => 'new'} %>