<div style="float:left; width:33%; text-align:left; margin:0 auto; ">
    <h1>search truck results</h1>
    <% for truck in @trucks %>
        <li>
            <strong><%= link_to truck.title, truck %></strong>
        </li>
    <% end %>
</div>