<h1>search trucks</h1>



<% form_tag "/trucks?search=post", :method => :get do  %>
  <p>
    <%= render :partial => '/models/model_select', :locals => {:search => 1,
							       :make_id => params[:makes],
							       :model_id => params[:model_id]} %>
    <%= hidden_field_tag "as", "0" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>