<h1>Editing truck</h1>

<%= error_messages_for :truck %>

<% form_for(@truck, :html => { :multipart => true }) do |f| %>
  <p>
    <%= render :partial => 'form' %>
    <br />
      <%= f.submit "Update" %>
  </p>
<% end %>
<%= link_to 'Cancel, don\'t change anything', @truck %>
