body
{
	margin: 0 auto;	
	background-color:#333333;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:15px;
	
}
h1
{
	font-size:24px;
	color:#006699;
	margin-bottom:5px;
	margin-top: 0;
}
h2
{
	font-size:20px;
	color:#000;
	margin-bottom:5px;
	font-weight:normal;
	margin-top: 0;
}
h3
{
	font-size:16px;
	color:#222;
	margin:0;	
}
label
{
	display:block;
	margin: 10px 0 0 0;
}
ul li
{
	list-style: none;
}
a img
{
	border:0;
}
input[type="text"], input[type="password"], input[type="file"], select, textarea
{
	font-family: "Helvetica";
	font-size: 14pt;
	color: #333;
	height:auto;
	width:300px;
	border: solid 1px #999;
}
input .short
{
	width:100px;
}
textarea
{
	height:auto;
}

a, a:hover, a:visited
{
	text-decoration:none;
	color:#b44953;
	
} 
a:hover
{
	text-decoration:underline;
}

/* General Classes */
.err
{
	font-family: "Helvetica";
	font-size: 8pt;
	color: #ff0000;
}
.clear
{
	clear: both;
}
.notice
{
	font-family: "Helvetica";
	font-size: 8pt;
	background-color: #fff1a8;
	text-align: center;
	width: 95%;
	font-weight: bold;
	margin: 20px 0 20px 50%;
	padding: 5px 0 5px 0;
}
.error
{
	font-family: "Helvetica";
	font-size: 8pt;
	color: #ff0000;
	background-color: #fff1a8;
	text-align: center;
	width: 95%;
	font-weight: bold;
	margin: 20px 0 20px 0;
	padding: 5px 0 5px 0;
	
}
.small_link a
{
	font-size: smaller;
	color: #000000;
	text-decoration: none;
}
.small_link a:hover
{
	font-size: smaller;
	color:#b44953;
	text-decoration: underline;
}

/* END General Classes */

/* Layout Containers */
#wrapper
{
	margin: 0 auto;
	text-align:center;
	width:90%;
}
#wrapperFull
{
	margin: 0 auto;
	text-align:center;
	width:98%;
}
#container-top
{
	margin: 0 32px 0 32px;
	height:18px;
	background-image: url('/images/bg_top.jpg');
	background-repeat:repeat-x;
	
}
#container-top-left
{
	width:100%;
	height:18px;
	background-image: url('/images/bg_top_left.jpg');
	background-repeat:no-repeat;
	background-position: left;
}
#container-top-right	
{
	width:100%;
	height:18px;
	background-image: url('/images/bg_top_right.jpg');
	background-repeat:no-repeat;
	background-position: right;
}
#container-bottom
{
	
	margin: 0 31px 0 32px;
	height:23px;
	background-image: url('/images/bg_bottom.jpg');
	background-repeat:repeat-x;
}
#container-bottom-left
{
	
	height:23px;
	background-image: url('/images/bg_bottom_left.jpg');
	background-repeat:no-repeat;
	background-position: left;
}
#container-bottom-right	
{

	height:23px;
	background-image: url('/images/bg_bottom_right.jpg');
	background-repeat:no-repeat;
	background-position: right;
}
#container-left
{
	height:100%;
	background-image: url('/images/bg_left.jpg');
	background-repeat:repeat-y;
	background-color:white;
	

}
#container-right
{
	height:100%;
	background-image: url('/images/bg_right.jpg');
	background-repeat:repeat-y;
	background-position: right;

}
#container
{
	height:100%;
	margin: 0 4px 0 4px;
	text-align:left;
	padding-bottom:20px; 

}
#container #top
{
	margin-left:20px;
	margin-bottom:10px;
}
#popupContainer
{
	margin:0 20px;
}
/* END Layout Containers */

#subcontainer-top
{
  background-image: url('/images/subcontainer_top.jpg');
  background-repeat:no-repeat;
  height:31px;
  width:371px;
  margin:0;
  padding:0;
}
#subcontainer-bottom
{
  background-image: url('/images/subcontainer_bottom.jpg');
  background-repeat:no-repeat;
  height:33px;
  width:371px;
  margin:0;
  padding:0;
}
#subcontainer
{
  width:371px;
  margin:0;
  padding: 0 20px 50px 10px ;
}
#subcontainer p
{
  width:350px;
}
#subcontainer p strong
{
	font-weight:bold;
	color:#C84949;
}
#center
{
	text-align:center;
}
#left
{
	float:left;
	width:120px;
	text-align:center;
	
}
#left a, #left a:hover, #left a:visited
{
	font-weight:bold;
	font-size:15px;
	color:#999;
	text-decoration:none;
}
#oneColumn
{
	margin-left:25%;
}
#right
{
	float:left;
	width:70%;
	
}
#right p
{
	margin:0;
}
#right ul
{
	margin: 0 0 0 20px;		
}
#psstContainer h1
{
	font-size:16px;
	color:#003366;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:5px;
}
#submit_center
{
	text-align:left;
	margin-left:100px;
	font-weight:bold;
	color:#C84949;
}

/* Vehicle Page */
div #info
{
	float:left;
	margin-bottom:20px;
}
div #info p
{
	margin-left: 20px;
}
div #info h3
{
	margin-left:5px;	
}
div #checkList
{
	float:left;
	margin: 10px;
	padding: 10px;
	border: dashed 1px #989898;
}
#checkList ul
{
	margin:0;
	padding:0;
}
#vehicleFooter
{
	
	font-size:smaller;
	clear:both;
}
/* END Vehicle Page */

/* START Home Page */
#news, #login, #information, #welcome
{
	margin: 4px 0;
	padding:10px;
	border: solid 1px black;
}
#welcome h3
{
	font-size: small;
}
#news ul
{
	margin:0;
	padding:0;
}
#news h3
{
	border-bottom: solid 1px black;
}
/* END Home Page */

/* START Messaging */
#message_header
{
	margin: 0;
	padding: 5px 5px 5px 15px;
	background-color: #EDECEB;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #c6c6c6;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
}
#message_body
{
	margin: 0;
	padding: 5px 0 0 5px;
	background-color: #ffffff;
}
#message_header_label_container
{
	float: left;
}
#message_header_text_container
{
	
}
.message_header_label
{
	font-weight: bold;
	text-align: right;
	margin: 0 5px 0 0;
}
.message_header_text
{
	
}
#message_header_label_to
{
	margin: 4px 5px 0 0;
}
#message_header_label_subject
{
	margin: 18px 5px 0 0;
}
#message_header_label_body
{
	margin: 10px 0 0 0;
}
#message_body
{
	margin: 20px 0 0 0;
	width: 500px;
	height: 200px;
}
#message_submit
{
	width: 560px;
	text-align: right;
	margin: 5px 0 0 0;
}
.message_cell
{
	padding: 0 0 0 15px;
}
/* END Messaging */

/* START projects */
div .project_step
{
	border: 1px solid #000000;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
}
div .project_step_image
{
	margin: 5px 0 5px 0;
}
div .project_step_text
{
	margin: 5px 0 5px 0;
}
#project_step_text
{
	width: 500px;
}
#photo_preview
{
	vertical-align: bottom;
}
/* END projects */

/* START photos */
#photo_list .photo_item
{
	margin: 15px 5px 5px 15px;
	float: left;
}
#photo_links div
{
	clear: both;
	padding: 10px 0 0 0;
}
/* END photos */
/* BEGIN tabs */
#tabs{
        margin-left: 4px;
        padding: 0;
        background: transparent;
        voice-family: "\"}\"";
        voice-family: inherit;
        padding-left: 5px;
    }
    #tabs ul{
        font: bold 11px Arial, Verdana, sans-serif;
        margin:0;
        padding:0;
        list-style:none;
    }
    #tabs li{
        display:inline;
        margin:0 2px 0 0;
        padding:0;
        text-transform:uppercase;
    }
    #tabs a{
        float:left;
        background:#A3BBE6 url(images/tabs_left.gif) no-repeat left top;
        margin:0 2px 0 0;
        padding:0 0 1px 3px;
        text-decoration:none;
    }
    #tabs a span{
        float:left;
        display:block;
        background: transparent url(images/tabs_right.gif) no-repeat right top;
        padding:4px 9px 2px 6px;
    }
    #tabs a span{float:none;}
    #tabs a:hover{background-color: #7E94B9;color: white;}
    #tabs a:hover span{background-color: #7E94B9;}
    #tabHeaderActive span, #tabHeaderActive a { background-color: #42577B; color:#fff;}
    .tabContent {
        clear:both;
        border:2px solid #42577B;
        padding-top:2px;
        background-color:#FFF;
    }
/* END tabs */