body
{
	/*margin: 0 auto;*/
	/*background-color:#ffffff;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	/*padding-top:15px;*/
}
h1
{
	font-size:24px;
	color:#006699;
	/*margin-bottom:5px;*/
}
h2
{
	font-size:20px;
	color:#000;
	/*margin-bottom:5px;*/
	font-weight:normal;	
}
h3
{
	font-size:16px;
	color:#222;
	/*margin:0;*/
}
label
{
	display:block;
	/*margin: 10px 0 0 0;*/
}
li
{
	list-style: none;
}

a, a:visited
{
	text-decoration:none;
	color:#b44953;
} 

#wrapper
{

}
#top
{

}
#menu
{

}
#content
{
	
}
