<h1><%= @user.login %>'s Photos</h1>
<div id="photo_list">
    <% @user.photos.each do |p| -%>
      <div class="photo_item">
        <%= link_to "<img src='#{p.thumbnails[0].public_filename}' alt='#{p.filename}' />", {:action => "show", :id => p.id}, :title => p.filename  %>
        <span class="small_link"><%= link_to "<img src='images/x.gif' alt='Delete Image' />", {:action => "delete", :id => p.id}, :confirm => "Are you sure you want to delete this photo?", :title => "Delete Photo" %></span>
      </div>
    <% end -%>
    <div id="photo_links">
        <div>
            <%= link_to 'New', :action => 'new' %>
        </div>
        <div>
            <a href="#" onclick="javascript:window.close();">Close</a>
        </div>
    </div>
</div>