<h1>New Photo</h1>

<% form_for :photo, :url => { :action => 'create' }, :html => { :multipart => true } do |f| -%>
  <p><%= f.file_field :uploaded_data %></p>
  <p><%= submit_tag "Create" %></p>
<% end -%>
<br/>
<a href="#" onclick="javascript:window.close();">Close</a>