<div id="left">		
<%
links = getLeftNavLinks()
links.each do |l|
if l.link_action
%>
<%= link_to l.name, {:controller => l.link_controller, :action => l.link_action} %>
<%  else %>
<%= link_to l.name, {:controller => l.link_controller} %>
<% end %>
<br /><br />
<% end %> 
</div>

