<h1>New Service Log</h1>

<%= error_messages_for :service_log %>

<% form_for(@service_log, :url => truck_service_logs_path(params[:truck_id])) do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', truck_service_logs_path(params[:truck_id]) %>