<h1><%= @user.login %>'s Home</h1>
<div id="user_profile">profile goes here</div>
<div id="user_trucks">trucks go here</div>
<div id="user_service">service logs go here</div>
<div id="user_projects">projects go here</div>

