<h1>Online Users</h1>
<% if @users.blank? %>
    <p>no users online</p>
<% else %>
    <ul>
        <% @users.each do |u| %>
            <li>
                <%= u.login %>
            </li>
        <% end %>
    </ul>
<% end %>