<% form_for :user, :url=>{:action=>'forgot_password'} do |form| %>
<div>
	<h3>Forgot my password</h3>

	<label for="user_email">Email</label>
	<%= form.text_field "email",  :size => 20 %>
</div>
<div>
	<%= submit_tag 'Email password' %>
</div>

<% end %>
