<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Project Truck .Net - Post, Sell, Trade, Share</title>
    <%= stylesheet_link_tag "comingsoon" %> 
</head>
<body>
    <% form_tag :action => 'index' do %>
    <div id="container-top">
    	
    </div>
	<div id="container">
        <div id="left">
            <img src="/images/logo.jpg" alt="Project Truck Logo"/>
			<div id="psstContainer"style="">
				<h1>POST</h1>
				It's all about community, helping each other out, and meeting people who are just as cool as you are. 
				<h1>SELL</h1>
				After everything you have done to your rig, putting it up for sale to the uninitiated public is a frustrating experience.  Sell your truck within the community to someone who can recognize the value you have wrenched in!
				<h1>TRADE</h1>
				Parts, information, services, or even trucks.  Remind yourself how sweet the barter system can be when you get together with people doing the same thing as you. 
				<h1>SHARE</h1>
				Stories, knowledge, experience, victories, defeats, and all your hard work.  That's what a good community is all about.  
        	</div>
		</div>
        <div id="right">
        	<div id="subcontainer-top"></div>
			<div id="subcontainer">
			    	<h1>Not Done Yet!</h1>
            <p><strong>projecttruck.net</strong> is a place to sell your truck, find parts, gets tips, or to share your hard work with the rest of the world. </p>

 <p>From offroaders to lowriders, tow rigs to trailer queens, <strong>projecttruck.net</strong> has a place for you.</p>

 <p>We're still hard at work making this the coolest truck site ever.  Sign up and we'll keep you posted on our progress.  Don't worry, we won't share your email with anyone because we're not jerks. </p>

 <p>We should also mention that the services <strong>projecttruck.net</strong> offers are <strong>FREE!!</strong>  I told you, we aren't jerks.  </p>
                	<strong>::email::</strong><br />
                    <%= error_message_on :coming_soon, :email, "Email ", "", "err" %>
                    <%= text_field 'coming_soon', 'email' %>
                <div id="submit_center">
				<% if flash[:message] %>
					<%= flash[:message] %>
				<% else %>
                    <%= image_submit_tag "/images/submit.jpg" %>
                <% end %>
				</div>
        </div>
		<div id="subcontainer-bottom"></div>   
       </div>
	   <br style="clear:both;" />
    </div>
	<div id="container-bottom">
    	
    </div>


<% end %>
</body>
</html>

