<h1>New Step for <%= @project.title %></h1>

<%= start_form_tag :action => 'create' %>

<%= render(:partial => "form", :object => @project_step) %>

<%= submit_tag "Create" %>

<%= end_form_tag %>

<%= link_to 'Back', {:controller => 'project', :action => 'show', :id => @project.id} %>
