<h1><%= @project.title %> Photos</h1>

<ul>
<% @project_photos.each do |p| -%>
  <li>
    <%= link_to p.filename, :action => 'show', :id => p, :vehicle_id => params[:vehicle_id] %>
    <small> <%= link_to 'Delete', {:action => "delete", :id => p.id}, :confirm => "Are you sure you want to delete this photo?" %></small>
  </li>
  
<% end -%>
</ul>

<p><%= link_to 'New', :action => 'new', :project_id => params[:project_id] %></p>
<a href="#" onclick="javascript:window.close();">Close</a>
