<h1>New Photo for <%= @project.title %></h1>

<% form_for :project_photo, :url => { :action => 'create' }, :html => { :multipart => true } do |f| -%>
  <p><%= f.file_field :uploaded_data %></p>
  <%= f.hidden_field :project_id, :value => params[:project_id] %>
  <p><%= submit_tag :Create %></p>
<% end -%>
<br/>
<a href="#" onclick="javascript:window.close();">Close</a>