<h1>New Vehicle Listing</h1>

<% form_tag :action => 'create' do %>

    <%= render(:partial => "form", :object => @vehicle) %>
    
    <%= submit_tag "Save Changes" %>

<% end %>

<%= observe_field("makes", :frequency => 0.25, :update => "div_model", :url => { :action => "update_models" }) %>

<%= link_to 'Back to Garage', {:action => 'list'} %>
