<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
	<meta http-equiv="Content-Language" content="en-us" /> 
	<title>Project Truck Listings</title> 
	<%= stylesheet_link_tag "style" %> 
	<%= javascript_include_tag :defaults %>
</head> 

<body id="rails-list"> 
<div id="container"> 
	<div id="header"> 
		<h1>Project Truck Logo and What Not</h1> 
		<h3></h3> 
	</div> 
	<div id="sidebar">
		<ul>
			<li>New Search</li>
			<li>View For Sale</li>
			<li>Browse Trucks</li>
		</ul>
	</div> 
	<div id="content"> 
		<%= yield -%> 
	</div> 

	
</div> 
</body> 
</html> 
