<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    	<meta http-equiv="Content-Language" content="en-us" />
        <title>Project Truck</title>
        <%= stylesheet_link_tag "style-mobile" %>
        </head>
  <body>
  <div id="wrapper">
    <div id="top">
      <img src="/images/logo_mobile.jpg" alt="Project Truck Logo"/>
    </div>
    <div id="content">
      <%= yield -%>
    </div>
  </div>
  </body>
</html>