<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
	<meta http-equiv="Content-Language" content="en-us" /> 
	<title>Project Truck</title> 
	<%= stylesheet_link_tag "style" %> 
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "tabs" %>
</head> 

<body id="rails-list"> 
<div id="wrapper">
	
<!-- TOP -->	
<div id="container-top-left">
	<div id="container-top-right"> 
		<div id="container-top">
		</div>
	</div>   	
</div>
<!-- END TOP -->

<!-- MIDDLE -->
<div id="container-left">
<div id="container-right">	
<div id="container">       

<div id="top">
	<img src="/images/logo.jpg" alt="Project Truck Logo"/>
</div>
<%= render(:partial => "home/left_nav") %>
<div id="right">
<%= yield -%> 
</div> 

<br class="clear" />

</div>
</div>
</div>
<!-- END MIDDLE -->

<!-- BOTTOM -->
<div id="container-bottom-left">
	<div id="container-bottom-right"> 
		<div id="container-bottom">
		</div>
	</div>   	
</div>
<!-- END BOTTOM -->

</div>
</body> 
</html> 
